html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}
/***************************************/
.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
.header{
    flex-grow: 0;
    flex-basis: 50px;
 
    flex-shrink: 0;
}
.col{

    flex-grow:1;
    padding:15px;
}
.col-3{
    flex-basis:25%;
}
.col-4{
    flex-basis:33.33%;
}
.col-6{
    flex-basis:50%;
}
/***************************************/
ui-view{
    height:100%;
    display: flex;    
}
.fill{
    height:100%;
    overflow-y: auto;
}

.row-6{
    flex-basis:50%;
}
.row-12{
    flex-basis: 100%;
}
.pane-wrapper{
    /*border: 1px solid darkgray;*/
    padding:5px;
    width:50%;
    float:left;
    
}
.place.pane{
    border: 1px solid darkgray;
    /*margin:5px;*/
}
.place.pane div{
    padding: 10px;
}
.pane-heading{
    background-color: #cfcfcf;
}
.place.pane h1{
    font-size:14px;
    text-transform: uppercase;
    margin:0;
}
.place.pane.selected{
    color:blue;
}

.general{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
